.doc-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* font-family: Arial, sans-serif; */
    align-self: stretch;
    background-image: url('docAnalyzerBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

.doc-content {
    opacity: 1 !important;
    width: 50%;
}

.doc-heading {
    font-family: 'Times New Roman', sans-serif;
    font-size: large;
    font-weight: 400;
    color: darkblue;
}

.logo h1 {
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    color: darkblue;
    margin-bottom: 40px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    outline: none;
    background-color: white;
}

.icon {
    color: darkblue;
    font-weight: bold;
}

.search-input:focus {
    border-color: darkblue;
}

.button-container {
    display: flex;
    gap: 10px;
}

.search-btn,
.lucky-btn {
    padding: 10px 20px;
    border: 1px solid #dfe1e5;
    background-color: #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.search-btn:hover,
.lucky-btn:hover {
    background-color: #f1f3f4;
}

.search-btn:active,
.lucky-btn:active {
    background-color: #e0e0e0;
}